html {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  display: flex;
  //flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
  // setting up variables 
  --bg: #fcfcfc;
  --color-headings: #474E55;
  --shadows: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  --h2-text: #2d353d;
  --corners: 10px; // global corners
  --info-padding: .8em; // global padding 
  --color-ready: #23292F;
  --footer-img-filter: invert(91%) sepia(56%) saturate(1%) hue-rotate(15deg) brightness(106%) contrast(98%);
}


body {
  background-color: var(--bg);
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 2rem;
}

h1 {
  // this one is for big headers
  text-align: center;
  margin: 0;
  padding: 2em;
  color: var(--color-headings);
  box-shadow: var(--shadows);
  border-radius: var(--corners);
}

h2 {
  color: var(--h2-text);
  font-weight: 800;
  font-size: 2em;
  letter-spacing: 0.05em;
}

p5 {
  text-align: center;
  color: var(--h2-text);
  grid-area: content;
  font-size: 2em;
  line-height: 1.2em;
}

p2 {
  text-align: center;
  color: var(--h2-text);
  grid-area: content;
  font-size: 1.2em;
  line-height: 1.2em;
  margin-top: 1em;

}

p3 {
  text-align: center;
  color: var(--color-headings);
  margin-bottom: 1rem;
  transition: color 150ms;
}

p3:hover {
  color: var(--h2-text);
}

p4 {
  text-align: center;
  font-weight: 500;
  font-size: 5.5em;
  color: var(--h2-text);
}



a:link {
  text-decoration: none;
}

// There app styles starts

.main-container {
  text-align: center;
  box-shadow: var(--shadows);
  border-radius: var(--corners);
  align-items: center;
  margin-bottom: 2em;
}

#weather-app {
  background-color: #EBEBEB;
  border-radius: var(--corners);
}

.form-container {
  justify-content: center;
  margin: auto;
  padding: 1em;
}

.before-form {
  padding: 1em;
}

// WEATHER INFO DIVS 
.weather-main {
  //overflow: hidden;
  padding: 0 2em;
  //display: inline-flex;
  justify-content: center;
  width: auto;
  justify-content: space-around;
  align-items: center;

}

.city-info {
  justify-content: center;
  float: left;
  margin: 1rem;
}

.city-info>div {
  text-align: start;
  padding: var(--info-padding);

}

.weather-panel-show {
  overflow: hidden;
  justify-content: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city-weather {}

.weather-description {
  padding: 1em;
}

.time {
  text-align: start;
  padding: var(--info-padding);
}

.humidity {
  text-align: start;
  padding: var(--info-padding);
}

.wind-speed {
  text-align: start;
  padding: var(--info-padding);
}


.weather-temperature {
  text-align: center;
}

.weather-icon {
  display: flex;
  align-items: center;
  padding: 4em;
}



// HOUR FORCAST


#chart {
  max-width: 600px;
  margin: 35px auto;
}


.weekday {
  margin: .5rem;
}

// NICE INPUT
.input {
  padding: 9px;
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: var(--corners);
  width: 350px;
  text-align: center;

}

.input:focus {
  outline: none;
}

// BUTTON SEND 
.btn {
  padding: 10px;
}

.btn-submit {
  //display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--corners);
  background-color: var(--color-headings);
  border: none;
  color: var(--bg);
  padding: 6px 25px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  letter-spacing: 0.1em;

}

// WEATHER FORECAST

.forecast-weather {
  overflow: hidden;
  padding-bottom: 1em;
  justify-content: center;
  display: flex;
  justify-content: space-around;
}

.forecast-weather>div {
  float: left;
  cursor: pointer;
}


// FOOTER
.footer-main {
  overflow: hidden;
  position: fixed;
  align-items: center;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0.8em;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  color: var(--rooms-txt);
  text-align: center;
  box-shadow: var(--shadows);
  width: 100%;
  background-color: #2d353d;
  color: #fcfcfc;
}

.footer-inside {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-inside>div {
  float: left;
}

.github-icon {
  height: 25px;
  width: 25px;
  margin-left: 1em;
  filter: var(--footer-img-filter); // with this filter I changed color of image
}