{% extends 'layout.html' %}


{% block title %}
Forecast for {{ weather.city }}
{% endblock title %}

{% block body %}
<div id="weather-app">
    <h1>Check below current weather conditions for date: {{date}} and hourly forecast!</h1>
    <!-- User Input From  -->
    <div class="form-container">

        <form action="{{url_for('index')}}" id="form" method="post">
            <p>Type any city below</p>

            <div class="">
                <input class="input" type="text" name="user_city" required autofocus>
            </div>
            <div class="btn">
                <input class="btn-submit" type="submit" value="Check">
            </div>

        </form>
    </div>
    <!-- End of Form  -->
    <div class="weather-main">
        
            <div class="city-weather">
                <h2>{{ weather.city }}</h2>
            </div>

        <div class="city-info">

            <div class="time">
                <p2>{{ time }}</p2>
            </div>

            <div class="humidity">
                <p2>Humidity: {{ weather.humidity }}%</p2>
            </div>
            <div class="wind-speed">
                <p2>Wind: {{weather.wind}} km/h</p2>

            </div>
            <div>
                <p2></p2>
            </div>

        </div>

    <div id="chart"> </div>

    </div>

    
</div>

<!-- Chart display Script -->
<script>
    var myHours = {{ forecast_hours | tojson }};
    var myTemperatures = {{ forecast_temperatures | tojson }};
    var options = {
        series: [{
            name: "Temperature",
            data: myTemperatures
        }],
        chart: {
            height: 350,
            type: 'line',
            zoom: {
                enabled: false
            }
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            curve: 'straight'
        },
        title: {
            text: 'Temperature over hours',
            align: 'left'
        },
        grid: {
            row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
            },
        },
        xaxis: {
            categories: myHours,
        }
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
</script>
{% endblock body %}