{% extends 'layout.html' %}


<!-- Title Block -->
{% block title %}
Forecast for {{ detail_forecast.city }}
{% endblock title %}

<!-- End of Title Block -->
{% block body %}
<div id="weather-app">
    <h1>Current weather conditions for date: {{date}} and hourly forecast!</h1>
    <!-- User Input From  -->
    <div class="form-container">

        <form action="{{url_for('index')}}" id="form" method="post">
            <div class="before-form">
                <p5>Type any city below</p5>
            </div>
            <div class="">
                <input class="input" type="text" name="user_city" required autofocus>
            </div>
            <div class="btn">
                <input class="btn-submit" type="submit" value="Check">
            </div>

        </form>
    </div>
    <!-- End of Form  -->
    <div class="weather-main">

        <div class="city-weather">
            <h2>{{ detail_forecast.0.city }}</h2>

            <div class="city-info">

                <div class="time">
                    <p2>Date: {{ detail_forecast.0.date[0:10] }}</p2>
                </div>

                <div class="humidity">
                    <p2>Humidity: {{ detail_forecast.0.humidity }}%</p2>
                </div>
                <div class="wind-speed">
                    <p2>Wind: {{detail_forecast.0.wind |round|float }} km/h</p2>

                </div>
                <div>
                    <p2>{{ detail_forecast.0.description }}</p2>
                </div>

                <div>
                    <p2>Feels like: {{ detail_forecast.0.feels_like |round|int }} °C</p2>
                </div>

                <div>
                    <p2>Pressure: {{ detail_forecast.0.pressure }} hPa</p2>
                </div>

            </div>
            <!-- Chart injected -->
            <div id="chart"> </div>


        </div>

    </div>

<!-- Chart display Script -->
<script>
    // definig variable myHours wchih take hours-forecast data from backend FLASK and converting to JSON format
    var myHours = {{ forecast_hours | tojson }};
    // Below is the same thing as aboce but |safe - means that it takec clear unicode without any extra filters,
    // without "|safe" there is error displaying degreas sign
    var myTemperatures = {{ forecast_temperatures | safe }};
    var options = {
        series: [{
            name: "Temperature",
            data: myTemperatures
        }],
        chart: {
            height: 350,
            type: 'line',
            zoom: {
                enabled: false
            }
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            curve: 'straight'
        },
        title: {
            text: 'Temperature over hours',
            align: 'center'
        },
        grid: {
            row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
            },
        },
        xaxis: {
            categories: myHours,
        }
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
</script>

<!-- END of chart script -->
{% endblock body %}