<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}" />
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  <title>{% block title %}Weather App {% endblock %}</title>
</head>

<body>
  <!-- Main content  -->
  <div class="main-container">
    {% block body %}
    {% endblock body %}
  </div>
  <!-- End of main content  -->
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>